<!DOCTYPE html>
<html ng-app="21">
  <head>
    <!-- gently taken from: https://raw.githubusercontent.com/ngbp/ngbp/v0.3.2-release/src/index.html -->
    <title ng-bind="pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- libs -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.js" charset="utf-8"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js" charset="utf-8"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.js" charset="utf-8"></script>

    <!-- libs installed via npm -->
    <script src="/angular-socket-io.js" charset="utf-8"></script>
    <!-- frontend code -->
    <script src="/bundle.js" charset="utf-8"></script>

    <!-- css -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true" ng-click="menuCollapsed = !menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            21
          </div>
        </div>
        <div class="collapse navbar-collapse" ng-class="!menuCollapsed && 'in'">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active">
              <a href ui-sref="home">
                <i class="fa fa-home"></i>
                Home
              </a>
            </li>
            <li ui-sref-active="active">
              <a href ui-sref="about">
                <i class="fa fa-info-circle"></i>
                What is it?
              </a>
            </li>
            <li>
              <a href="https://github.com/ngbp/ngbp#readme">
                <i class="fa fa-book"></i>
                Read the Docs
              </a>
            </li>
            <li>
              <a href="https://github.com/ngbp/ngbp">
                <i class="fa fa-github-alt"></i>
                Github
              </a>
            </li>
            <li>
              <a href="https://github.com/ngbp/ngbp/issues">
                <i class="fa fa-comments"></i>
                Support
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container" ng-controller="firstController as fi">
      <h1>Game status: <span>{{ fi.status }}</span></h1>
      <h2>Players: <span>{{ fi.players }}</span></h2>
      <button ng-click="fi.join()" ng-disabled="fi.joined">Join</button>
      <button ng-click="fi.toggleReady()" ng-show="fi.joined && !fi.ready">You are not Ready</button>
      <button ng-show="fi.ready">You are Ready</button>
    </div>

    <footer class="footer">
      <div class="container"></div>
    </footer>
  </body>
</html>
