<!DOCTYPE html>
<html ng-app="21">
  <head>
    <!-- gently taken from: https://raw.githubusercontent.com/ngbp/ngbp/v0.3.2-release/src/index.html -->
    <title ng-bind="pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- libs -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.js" charset="utf-8"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js" charset="utf-8"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.js" charset="utf-8"></script>

    <!-- libs installed via npm -->
    <script src="/angular-socket-io.js" charset="utf-8"></script>
    <!-- frontend code -->
    <script src="/bundle.js" charset="utf-8"></script>

    <!-- css -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container"></div>

    <div class="container" ng-controller="gameController as gm">
      <h1>Game status: <span>{{ gm.status }}</span></h1>
      <div ng-show="gm.status !== 'match'">
        <h2>Players: <span>{{ gm.playersNum }}</span></h2>
        <h3>Name: <input type="text" name="name" placeholder="your name" ng-disabled="!gm.joined" ng-model="gm.name" ng-model-options="{ debounce: 500 }" ng-change="gm.updateName(gm.name)"></h3>

        <button ng-click="gm.join()" ng-disabled="gm.joined">Join</button>
        <button ng-click="gm.toggleReady()" ng-show="gm.joined && !gm.ready">You are not Ready</button>
        <button ng-show="gm.ready">You are Ready</button>
      </div>

      <div>
        <div ng-repeat="(id, player) in gm.players" class="player-section" ng-class="player.busted && 'busted'">
          <div class="ib player-list">
            <h5>Player <strong>{{ $index + 1 }}</strong></h5>
            <h5>
              <span class="blue" ng-show="id === gm.id">*you*</span>
              <span ng-show="id !== gm.id">{{ player.name }}</span>
            </h5>
            <h6 ng-show="gm.status === 'waiting'">Ready
              <span class="red" ng-show="player.ready === false">No</span>
              <span class="green" ng-show="player.ready === true">Yes</span>
            </h6>
            <h6 ng-show="gm.status === 'match' && gm.gameTurn === id">
              <span class="green">It's turn</span>
            </h6>
            <div ng-show="gm.gameTurn === id && gm.gameTurn === gm.id">
              <button ng-click="gm.hit()">Hit</button>
              <button ng-click="gm.stand()">Stand</button>
            </div>
            <!-- FIXME -->
            <h1 ng-show="player.win === true">WIN</h1>
            <h1 ng-show="player.win === false">LOST</h1>
          </div>
          <div class="ib" ng-show="gm.status === 'match'">
            <div class="cards">
              <div class="card" ng-repeat="card in player.cards" ng-class="card.name"></div>
            </div>
            <div class="score" ng-show="!player.busted">
              <h4>Score: {{ player.score }}</h4>
            </div>
          </div>
        </div>
        <!-- dealer section -->
        <div class="player-section" ng-show="gm.status === 'match'" ng-class="gm.dealer.busted && 'busted'">
          <div class="ib player-list">
            <h4>Dealer</h4>
          </div>
          <div class="ib">
            <div class="cards">
              <div class="card" ng-repeat="card in gm.dealer.cards" ng-class="card.name"></div>
            </div>
            <div class="score" ng-show="!gm.dealer.busted">
              <h4>Score: {{ gm.dealer.score }}</h4>
            </div>
          </div>
        </div>
      </div>

    </div>

    <footer class="footer">
      <div class="container"></div>
    </footer>
  </body>
</html>
