<!DOCTYPE html>
<html ng-app="21">
  <head>
    <!-- gently taken from: https://raw.githubusercontent.com/ngbp/ngbp/v0.3.2-release/src/index.html -->
    <title ng-bind="pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- libs -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.js" charset="utf-8"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js" charset="utf-8"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.js" charset="utf-8"></script>

    <!-- libs installed via npm -->
    <script src="/angular-socket-io.js" charset="utf-8"></script>
    <!-- frontend code -->
    <script src="/bundle.js" charset="utf-8"></script>

    <!-- css -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container"></div>

    <div class="container" ng-controller="firstController as fi">
      <h1>Game status: <span>{{ fi.status }}</span></h1>
      <div ng-show="fi.status !== 'match'">
        <h2>Players: <span>{{ fi.players }}</span></h2>
        <h3>Name: <input type="text" name="name" placeholder="your name" ng-disabled="!fi.joined" ng-model="fi.name" ng-model-options="{ debounce: 500 }" ng-change="fi.updateName(fi.name)"></h3>

        <button ng-click="fi.join()" ng-disabled="fi.joined">Join</button>
        <button ng-click="fi.toggleReady()" ng-show="fi.joined && !fi.ready">You are not Ready</button>
        <button ng-show="fi.ready">You are Ready</button>
      </div>

      <div>
        <div ng-repeat="(id, player) in fi.pData" class="player">
          <div class="players">
            <h5>Player <span>{{ $index + 1 }}</span>
              <span class="blue" ng-show="id === fi.id">*you*</span>
              <span ng-show="id !== fi.id">{{ player.name }}</span>
            </h5>
            <h6 ng-show="fi.status === 'waiting'">Ready
              <span class="red" ng-show="player.ready === false">No</span>
              <span class="green" ng-show="player.ready === true">Yes</span>
            </h6>
          </div>
          <div class="cards" ng-show="fi.status === 'match'">
            <div class="card" ng-repeat="card in player.cards" ng-class="card"></div>
          </div>
        </div>
      </div>

    </div>

    <footer class="footer">
      <div class="container"></div>
    </footer>
  </body>
</html>
